@import '../../../common/util/variable';

.ecMainCompanyContent {
  flex: 3;
  margin-right: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
    border-bottom: 1px solid @primary-gray;

    & h1 {
      margin: 0;
      font-size: 34px;
      font-weight: 700;
    }

    & span {
      font-size: 18px;
    }
  }

  &__calculator,
  &__map {
    padding: 20px;
    border-bottom: 1px solid #d9d9d9
  }

  &__footer {
    padding: 20px 20px 0;
  }
}