.idea/
node_modules/
public/**/static/
public/**/index.html
public/**/service-worker.js
public/**/asset-manifest.json
public/**/*.less
public/server/
test/**
dist/**
**/*.log


!**/favicon.ico
!**/manifest.json
!**/translations
!**/translations/**/*.json
