@import "../../../../common/util/variable";

.ecMainCompanyDetail {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  &__column {
    width: 44%;
    box-sizing: border-box;

    @media screen and (max-width: 650px) {
      width: 100%;

      &--right {
        margin-top: 10px;
      }
    }
  }
}

.ecMainCompanyRightDetailColumn {
  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__items {
    margin-top: 10px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 4px 10px;
    font-size: 16px;

    & span {
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
    }

    &--active {
      &-true {
        width: 256px;
        border: 1px solid @primary-green;
        border-radius: 6px;
        font-size: 18px;
        color: @primary-green;
      }
    }
  }
}

.ecMainCompanyRightDetailColumn {
  &__phone,
  &__website {
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    overflow-wrap: break-word;

    & span {
      display: inline-block;
      width: 80px;
      font-weight: 700;
    }
  }
}