@import "../../../../common/util/variable";

.ecCurrencyMainTable {
  &__gridPanel {
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }

  &__companyName, &__updateTime {
    display: flex;
    flex-direction: column;

    & span:nth-of-type(2),
      span:nth-of-type(3) {
      font-size: 12px;
    }
  }

  &__companyName {
    cursor: pointer;
    transition: color .2s ease;

    &:hover {
      color: @primary-green;
    }
  }

  &__googleMapUrl {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    transition: all .2s ease;

    @media screen and (max-width: 650px) {
      font-size: 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  
  &__titleName,
  &__titleSumAmount {
    & span {
      display: block;

      &:nth-of-type(2) {
        font-size: 12px;
      }
    }
  }

  &__titleName {
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: @primary-green;
    }
  }

  & .ec-row {
    & .ec-cell:nth-of-type(1) {
      flex: 1;
    }

    & .ec-cell:nth-of-type(2) {
      width: 10%;

      @media screen and (max-width: 650px) {
        width: 50px;
      }
    }

    & .ec-cell:nth-of-type(3) {
      width: 12%;

      @media screen and (max-width: 650px) {
        width: 64px;
      }
    }

    & .ec-cell:nth-of-type(4) {
      width: 100px;

      @media screen and (max-width: 650px) {
        width: 44px;

        & .ecCurrencyMainTable__updateTime {
          & span:last-of-type {
            display: none;
          }
        }
      }
    }

    & .ec-cell:nth-of-type(5) {
      width: 134px;
      text-align: center;

      @media screen and (max-width: 1024px) {
        width: 114px;
      }

      @media screen and (max-width: 650px) {
        width: 34px;

        & button {
          position: relative;

          span {
            display: none;
          }

          &:after {
            content: 'i';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            line-height: 26px;
            text-align: center;
            font-size: 18px;
            font-style: italic;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.ecCurrencyMainTableGridPanel {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  &--position {
    &-left {
      display: flex;
      align-items: center;

      @media screen and (max-width: 650px) {
        margin-bottom: 10px;
      }

      & .ec-button {
        margin-right: 20px;

        @media screen and (max-width: 1024px) {
          margin-right: 10px;
        }
      }
    }
  }
}