@import "../../../../common/util/variable";

.ecCurrencyMainTable {
  &__gridPanel {
    margin-bottom: 20px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }

  &__companyName, &__updateTime {
    display: flex;
    flex-direction: column;

    & span:nth-of-type(2),
      span:nth-of-type(3) {
      font-size: 12px;
    }
  }

  &__companyName {
    cursor: pointer;
    transition: color .2s ease;

    & strong {
      margin-bottom: 6px;
      font-size: 18px;

      @media screen and (max-width: 650px) {
        margin-bottom: 4px;
        font-size: 16px;
      }

      @media screen and (max-width: 460px) {
        margin-bottom: 4px;
        font-size: 14px;
      }
    }

    &:hover {
      color: @primary-green;
    }
  }

  &__companyAction {
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
    font-size: 14px;

    @media screen and (max-width: 650px) {
      font-size: 12px;
    }

    & a {
      transition: all .2s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__googleMapUrl {
    display: inline-block;
    margin-left: 18px;

    @media screen and (max-width: 460px) {
      margin-left: 10px;
    }
  }
  
  &__titleName,
  &__titleSumAmount {
    & span {
      display: block;

      &:nth-of-type(2) {
        font-size: 12px;
      }
    }
  }

  &__titleName {
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: @primary-green;
    }
  }

  & .ec-row {
    & .ec-cell:nth-of-type(1) {
      flex: 1;
    }

    & .ec-cell:nth-of-type(2) {
      width: 12%;

      @media screen and (max-width: 650px) {
        width: 50px;
      }
    }

    & .ec-cell:nth-of-type(3) {
      width: 14%;

      @media screen and (max-width: 650px) {
        width: 80px;
      }
    }

    & .ec-cell:nth-of-type(4) {
      width: 100px;

      @media screen and (max-width: 650px) {
        width: 44px;

        & .ecCurrencyMainTable__updateTime {
          & span:last-of-type {
            display: none;
          }
        }
      }

      @media screen and (max-width: 460px) {
        display: none;
      }
    }
  }

  & .ec-cell {
    padding: 10px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }

    @media screen and (max-width: 550px) {
      font-size: 15px;
    }

    @media screen and (max-width: 460px) {
      font-size: 14px;
    }
  }
}

.ecCurrencyMainTableGridPanel {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }

  &--position {
    &-left {
      display: flex;
      align-items: center;

      @media screen and (max-width: 650px) {
        margin-bottom: 10px;
      }

      & .ec-button {
        margin-right: 20px;

        @media screen and (max-width: 1024px) {
          margin-right: 10px;
        }
      }
    }
  }
}