@import "../../util/variable";

.ec-button {
  height: 32px;
  padding: 0 15px;
  line-height: 1.5;
  border: 1px solid @primary-gray;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 16px;
  background: @primary-white;
  cursor: pointer;
  transition: all .2s;

  @media screen and (max-width: 1024px) {
    height: 28px;
    padding: 0 12px;
    font-size: 14px;
  }

  &:hover, &:focus {
    outline-color: @primary-green;
    border-color: @primary-green;
    color: @primary-green;
  }

  &--isActive {
    &-true {
      outline-color: @primary-green;
      border-color: @primary-green;
      color: @primary-green;
    }
  }

  &--size {
    &-large {
      padding: 0 15px;
      font-size: 18px;
      height: 40px;

      @media screen and (max-width: 1024px) {
        height: 32px;
        font-size: 16px;
        padding: 0 12px;
      }
    }

    &-small {
      padding: 0 7px;
      font-size: 14px;
      height: 24px;

      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
  }
}