.ecCurrencyMainTable {
  &__companyName, &__updateTime {
    display: flex;
    flex-direction: column;

    & span:last-child {
      font-size: 14px;
    }
  }

  & .ec-row {
    & .ec-cell:nth-of-type(1) {
      flex: 1;
    }

    & .ec-cell:nth-of-type(2) {
      width: 10%;
    }

    & .ec-cell:nth-of-type(3) {
      width: 12%;
    }

    & .ec-cell:nth-of-type(4) {
      width: 16%;
    }

    & .ec-cell:nth-of-type(5) {
      width: 156px;
      text-align: center;
    }
  }
}