<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129740827-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-129740827-1');
        </script>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5199480904398785",
            enable_page_level_ads: true
          });
        </script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#39aa5e">
        <meta name="keywords" content="exchange rate in Bangkok, best exchange offices in Bangkok, foreign exchange rate,
         currency exchange rate, compare exchange rate">
        <meta name="description" content="Here you can compare all currency exchange offices in Bangkok and find the
         best and actual foreign exchange rate with low price and convenient location">
        <meta name="robots" content="index, follow" />

        <title><%= htmlWebpackPlugin.options.title %></title>

        <link rel="manifest" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/manifest.json">
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/static/favicon.ico">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              crossorigin=""/>
    </head>
    <body>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="root"></div>
    </body>
</html>
