@import '~antd/dist/antd.less';
@import "./common/util/variable";

#root {
	height: 100%;
}

body {
	line-height: 1;
	background-color: #fff;

	@media screen and (max-width: 360px) {
		width: 360px;
	}
}
